/** global */
body {
  font-size: 15px;
  --ff-sans: 'Roboto';
  --ff-serif: 'Roboto Slab';
  --ff-mono: 'Roboto Mono';
  --color-primary: rgb(8, 109, 214);
  font-family: var(--ff-serif), serif;
}

* {
  border: 0;
  font-size: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/** application */

div.ProseMirror {
  position: relative;
  /* 80px top padding to account for 41px toolbar */
  padding: 80px 15px 40px 15px;
}

h1.sn-editor {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}

* + h1.sn-editor {
  margin-top: 22px;
}

h2.sn-editor {
  font-weight: 700;
  margin-bottom: 10px;
}

.ProseMirror *:not(h1) + h2.sn-editor {
  margin-top: 24px;;
}

div.ProseMirror > p.sn-editor {
  margin-bottom: 10px;
}

*:not(ul, ol) + ul {
  margin-top: 10px;
}

*:not(ul, ol) + ol {
  margin-top: 10px;
}

ul, ol {
  margin-left: 25px;
  margin-bottom: 16px;
}

li > ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

li > ol {
  margin-top: 5px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

code {
  font-family: var(--ff-mono), monospace;
  background: #efefef;
}

.checklist-item {
  display: flex;
  align-items: baseline;
  justify-content: right;
}

.checklist-item {
  margin-bottom: 5px;
}

.checklist-item + *:not(.checklist-item) {
  margin-top: 16px;
}

.checklist-item input {
  cursor: pointer;
  margin-right: 15px;
  position: relative;
  top: 1px;
}

#toolbar-wrapper {
  left: 0;
  overflow-x: scroll;
  position: fixed;
  right: 0;
  top: 0;
}

#toolbar {
  background-color: var(--sn-stylekit-background-color, white);
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

button[data-format]:hover {
  background-color: #eee;
}

button.selected:after {
  background: #aaa;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
}

button[data-format] {
  background-color: var(--sn-stylekit-background-color, white);
  cursor: pointer;
  height: 40px;
  padding: 10px 20px;
  position: relative;
  width: 65px;
}

button[data-format=link]:before {
  background: #ccc;
  bottom: 7px;
  content: '';
  display: block;
  /* half the 10px margin */
  left: -5px;
  position: absolute;
  top: 7px;
  width: 1px;
}

button[data-format] {
  margin-left: 10px;
}

button[data-format] i {
  display: block;
  height: 25px;
}

button[data-format=paragraph] i {
  background: url(./assets/notes-24px.svg);
  background-size: cover;
}

button[data-format=checklist_item] i {
  background: url(./assets/check_box-24px.svg);
  background-size: cover;
}

button[data-format=heading] i {
  background: url(./assets/format_size-24px.svg);
  background-size: cover;
}

button[data-format=unordered_list] i {
  background: url(./assets/format_list_bulleted-24px.svg);
  background-size: cover;
}

button[data-format=strong] i {
  background: url('./assets/format_bold-24px.svg');
  background-size: cover;
}

button[data-format=em] i {
  background: url('./assets/format_italic-24px.svg');
  background-size: cover;
}

button[data-format=code] i {
  background: url('./assets/code-24px.svg');
  background-size: cover;
}

button[data-format=link] i {
  background: url('./assets/link-24px.svg');
  background-size: cover;
}

button[data-format=ordered_list] i {
  background: url('./assets/format_list_numbered-24px.svg');
  background-size: cover;
}

/* modal */
div#link-modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  display: none;
  font-family: var(--ff-sans);
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

div#link-modal.active {
  display: flex;
}

div#frame {
  align-items: center;
  background: var(--sn-stylekit-background-color, white);
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
   box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 25px 45px;
  width: 350px;
}

div#link-modal input {
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  padding: 5px 8px;
  width: 100%;
}

div#link-modal button {
  cursor: pointer;
}

div#link-modal label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 4px;
}

div#link-modal label a i {
  background-image: url('./assets/open_in_new-24px.svg');
  background-size: cover;
  display: inline-block;
  height: 14px;
  position:  relative;
  top: 2px;
  width: 14px;
}

div#link-modal div.text-input {
  margin-bottom: 15px;
  width: 100%;
}

div#link-modal div.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

div#link-modal button {
  margin-left: 10px;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 14px;
}

div#link-modal button#confirm {
  color: var(--sn-stylekit-info-color, var(--color-primary));
}
