name: Validate PR

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - 'release/**'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: npm ci

      - run: npm run build

      - run: npm run validate
